<!DOCTYPE html>
<html>
  <head>
    <title> My First Website </title>
    <style>
        h1{
          font-family: Roboto;
          text-align: center;
          color: rgb(180, 180, 100)
        }
        h2{
          font-family: Roboto;
          color: rgb(180, 180, 100)
          text-align: center;
        }
        .bodytext {
          font-family: rosybrown; 
          text-align: center; 
          color: rgb(80,90,90)
        }
  
        #container{
          max-width: 720px;
          margin: 0 auto 0 auto;
        }
      </style>
  </head>
  <body>
    <img src="http://127.0.0.1:5000/static/banner.jpg">
<h1>What's going on people?</h1>  </body>
</html>